{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   {% if category %}
       {{category.description|truncatewords:155}}
   {% else %}
    Welcome to EY store where you can buys different items....
   {% endif %}
{% endblock %}
{% block title %}
   {% if category %}
       {{category.name}} -EY Store
   {% else %}
    See our New Collections -EY Store
   {% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
        <p><a href="{% url 'shopapp:allProductCat' %}">Our Product Collections</a></p>
    </div>
    </div>
</div>
{% endif %}
<div class="mx-auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{Category.name}}">
</div>
    <br>
<div>
  <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
   <img class="my_image my_image_padding"src="{% static 'img/SUN STAR.png' %}" alt="Our Products" width="1000px;">
</div>
    <br>
<div>
    <h1 class="text-center my_title">Our Product Collections</h1>
    <p class="text-justify">“Whole Foods Market customers are always looking for inspiration, no matter whether they are at home, on the run, or walking down our aisles,” said Jeff Jenkins, then Global Executive of Digital Strategy and Marketing at Whole Foods Market, in an interview with VentureBeat.</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem">
                <a href="{{product.get_url}}"><img class="my_image_padding" src="{{product.img.url}}" alt="{{product.name}}"  style="width:300px;height:300px;"></a>
                <div class="card-body">
                   <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
